# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

supplychainfrontend/node_modules/
supplychainfrontend/platforms/
supplychainfrontend/plugins/
supplychainserver/node_modules/
multichain-listener/node_modules/
