<ion-view title="Customer">
  <ion-content overflow-scroll="true" on-scroll="scrollListener()">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="#">Distribution Chain Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a ui-sref="manufacturer">Manufacturer</a></li>
            <li><a ui-sref="shipments">Shipments</a></li>
            <li><a ui-sref="distributor">Distributor</a></li>
            <li><a ui-sref="pharmacy">Pharmacy</a></li>
            <li><a ui-sref="customer">Customer</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="screenadjust" style="text-align:center">

      <h1 style="text-align:center">Customer Portal</h1>
      <form name="customerForm" class="form item" ng-submit="CustomerSearch(data)">
        <div class="item item-input">
          <input type="text" name="name" placeholder="Enter Medicine ID" ng-model="data.mid">
          <button id="Customer-search" class="button button-small button-balanced"><i class="icon ion-search"></i>
            <label>Search<label>
          </button>
        </div>
      </form>
      <!--<qr-scanner ng-success="onSuccess(data)" ng-error="onError(error)" width="400" height="300"></qr>-->
      <div id="searchResults" style="margin-top:25px;display:none;">
          <div class="card">
              <div class="item item-divider">
                Search Result
              </div>
              <div class="item item-text-wrap cardFormatting">
                <p>NDC - {{drugTrade.nationaldrugcode}}</p>
                <p>Product Name - {{drugTrade.productdetails.nonproprietaryname}}</p>
                <p>Product Code - {{drugTrade.productdetails.productcode}}</p>
                <p>Quantity - {{drugTrade.quantity}}</p>
                <p>Expiration Date - {{drugTrade.drugexpiratior | date:" dd MMM yyyy"}}</p>
              </div>
            </div>
        <div class="card">
          <div class="item item-divider">
            <h3 class="font-bold">Medcine found - {{drugTrade.unitsid[0]}} </h3><br>
            <h3 class="font-bold" style="text-decoration:none">Distribution Flow </h3>
          </div>
          <section class="timeline">
              <ul>
                <li ng-repeat="trade in tradeFlow">
                  <div>
                    <p class="whitetext" ng-if="trade.sendername">Sender Name - {{trade.sendername}}</p>
                    <p class="whitetext" ng-if="trade.senderlabelercode">Sender Labeler Code - {{trade.senderlabelercode}}</p>
                    <p class="whitetext" ng-if="trade.recipientname">Receipient Name - {{trade.recipientname}}</p>
                    <p class="whitetext" ng-if="trade.recipientlabelercode">Receipient Labeler Code - {{trade.recipientlabelercode}}</p>
                    <p class="whitetext" > Signing Date - {{trade.date | date:" dd MMM yyyy hh:mm:ss"}}</p>
                    <p class="whitetext" ng-if="trade.sendersignature">Sender Signature - {{trade.sendersignature}}</p>
                    <p class="whitetext" ng-if="trade.recipientsignature">Recipient Signature - {{trade.recipientsignature}}</p>
                  </div>
                </li>
              </ul>
            </section>
        </div>


        <div class="card">
          <div class="item item-divider">
            Verification Status
          </div>
          <div class="item item-text-wrap">
            <i class="icon ion-checkmark" ng-if="verificationStatus">&nbspVerified</i>
          </div>
        </div>
        <div class="card">
          <div class="item item-divider">
            Medicine Status
          </div>
          <div class="item item-text-wrap" ng-hide="recallFlag">
            <i class="icon ion-checkmark-circled" ng-if="verificationStatus">&nbspApproved</i>
          </div>
          <div class="item item-text-wrap" ng-show="recallFlag">
            <i class="icon ion-close-circled" ng-if="verificationStatus">&nbspRecalled</i>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
