<ion-view title="Distributor">
  <ion-content overflow-scroll="true" on-scroll="scrollListener()">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="#">Distribution Chain Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a ui-sref="manufacturer">Manufacturer</a></li>
            <li><a ui-sref="shipments">Shipments</a></li>
            <li class="active"><a ui-sref="distributor">Distributor</a></li>
            <li><a ui-sref="pharmacy">Pharmacy</a></li>
            <li><a ui-sref="customer">Customer</a></li>
            <li><a ui-sref="customer">Recalls</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="screenadjust" style="text-align:center">
      <form name="distributorForm" class="form item">
        <select ng-model="data.lot" ng-change="DistributorSearch(data)">
          <option ng-repeat="trade in reversedTrades" value="{{trade.lotnumber}}">{{trade.lotnumber}}</option>
        </select>
      </form>

      <div id="verifyResults" style="margin-top:25px;display:none;">

        <div class="card">
          <div class="item item-text-wrap cardFormatting" style="float:left; width:70%">
            <p>Lot Number - {{drugTrade.lotnumber}}</p>
            <p>NDC - {{drugTrade.nationaldrugcode}}</p>
            <p>Product Name - {{drugTrade.productdetails.nonproprietaryname}}</p>
            <p>Product Code - {{drugTrade.productdetails.productcode}}</p>
            <p>Quantity - {{drugTrade.quantity}}</p>
            <div ng-repeat="unit in drugTrade.unitsid"></div>
            <p>Expiration Date - {{drugTrade.drugexpiratior | date:" dd MMM yyyy"}}</p>

            <p>Units in lot:
              <span ng-repeat="unit in drugTrade.unitsid" ng-if="$index<2">{{drugTrade.lotnumber}}-{{unit}} | </span>
              <a id="showMoreText" ng-click="ToggleUnitFlag(1)">Show More</a>
              <span id="showMore" style="display:none">
                      <span ng-repeat="unit in drugTrade.unitsid" ng-if="$index>1">{{drugTrade.lotnumber}}-{{unit}} | </span>
              </span>
              <a id="showLessText" style="display:none" ng-click="ToggleUnitFlag(0)">Show Less</a>
            </p>

          </div>
          <div style="float:right; width:30%">
            <br>
            <svg id="barcode"></svg>
            <div>
              <i class="icon ion-checkmark" ng-if="verificationStatus">&nbspSignature Verified</i>
            </div>
            <br><br>

            <div ng-hide="recallFlag">
              <i class="icon ion-checkmark-circled" ng-if="verificationStatus">&nbspApproved</i>
            </div>
            <div ng-show="recallFlag">
              <i class="icon ion-close-circled" ng-if="verificationStatus">&nbspRecalled</i>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="item item-divider">
            Distribution Flow
          </div>
          <section class="timeline">
            <ul>
              <li ng-repeat="trade in tradeFlow">
                <div>
                  <p class="whitetext"> Signing Date - {{trade.date | date:" dd MMM yyyy hh:mm:ss"}}</p>
                  <p class="whitetext"> Action Taken - {{trade.action}}</p>
                  <p class="whitetext" ng-if="trade.sendername">Sender Name - {{trade.sendername}}</p>
                  <p class="whitetext" ng-if="trade.senderlabelercode">Sender Labeler Code - {{trade.senderlabelercode}}</p>
                  <p class="whitetext" ng-if="trade.recipientname">Receipient Name - {{trade.recipientname}}</p>
                  <p class="whitetext" ng-if="trade.recipientlabelercode">Receipient Labeler Code - {{trade.recipientlabelercode}}</p>
                  <p class="whitetext" ng-if="trade.sendersignature">Sender Signature - {{trade.sendersignature}}</p>
                  <p class="whitetext" ng-if="trade.recipientsignature">Recipient Signature - {{trade.recipientsignature}}</p>
                </div>
              </li>
              <li ng-if="recall">
                  <div>
                    <p class="whitetext" >Action - {{recall.action}}</p>
                    <p class="whitetext" >Recall Initiator - {{recall.recallerName}}</p>
                    <p class="whitetext" >Sender Labeler Code - {{recall.recallerLabelerCode}}</p>
                    <p class="whitetext"> Signing Date - {{recall.signingDate | date:" dd MMM yyyy hh:mm:ss"}}</p>
                    <p class="whitetext" >Signature - {{recall.recallerSignature}}</p>
                  </div>
                </li>
            </ul>
          </section>
        </div>
      </div>


      <form name="distributorForm2" id="distributorForm2" class="form item" style="display:none" ng-submit="DistributorSend(data)"
        ng-hide="recallFlag">
        <span class="input-label">Select Pharmacy</span>

        <div class="item item-input item-select">
          <span class="input-label">
              Pharmacy Name
          </span>
          <select id="pharmacyId" name="pharmacyId" ng-model="data.receiverid">
              <option ng-repeat="pharmacy in pharmacies">{{pharmacy.name}}</option>
          </select>
        </div>

        <div class="card" id="pharmacyDetails" style="display:none">
          <div class="item item-divider">
            Pharmarcy Details
          </div>
          <div class="item item-text-wrap cardFormatting">
            <p>Pharmacy Name - {{pharmarcyInfo.name}}</p>
            <p>Address - {{pharmarcyInfo.address}}</p>
            <p>Labeler Code - {{pharmarcyInfo.labelercode}}</p>
            <p>Multichain Address - {{pharmarcyInfo.multichainaddress}}</p>
          </div>
        </div>
        <button id="distributor-send" class="button button-small button-balanced" style="margin-top:10px; display:none">
          <label>Send Shipment<label>
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>
