<ion-view title="Manufacturer">
  <ion-content overflow-scroll="true">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="#">Distribution Chain Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a ui-sref="manufacturer">Manufacturer</a></li>
            <li><a ui-sref="shipments">Shipments</a></li>
            <li><a ui-sref="distributor">Distributor</a></li>
            <li><a ui-sref="pharmacy">Pharmacy</a></li>
            <li><a ui-sref="customer">Customer</a></li>
            <li><a ui-sref="recall">Recalls</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="screenadjust-form">

      <h1 style="text-align:center">Manufacturer Portal</h1>

      <form name="manufacturerForm" class="form item">
        <span class="input-label">Manufacturer Name</span>
        <div class="item item-input">
          <input type="text" name="name" placeholder="Enter Manufacturer Name" ng-model="manufacturer.name" disabled>
        </div>
        <label class="input-label">Lot Number</label>
        <div class="item item-input">
          <input type="text" name="lot" placeholder="Enter LOT# (Not Required)" ng-model="lot" disabled>
        </div>
        <span class="input-label">NDC</span>
        <div class="item item-input">
          <input type="text" name="name" placeholder="Enter NDC# (Not Required)" ng-model="ndc" disabled>
        </div>
        <span class="input-label">Drug Expiration Date</span>
        <onezone-datepicker datepicker-object="onezoneDatepicker">
          <button class="button button-block button-outline button-positive show-onezone-datepicker">
                {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
            </button>
        </onezone-datepicker>
        <span class="input-label">Quantity</span>
        <div class="item item-input">
          <input type="text" name="name" placeholder="Enter Quantity" ng-model="data.quantity">
        </div>
        <span class="input-label">Select Product</span>
        <div class="item item-input item-select">
          <span class="input-label">
              Product ID
          </span>
          <select id="productid" name="productid" ng-model="data.productid">
              <option ng-repeat="product in products">{{product.pid}}</option>
          </select>
        </div>
        <div id="productDetails" style="display:none">
          <div class="card">
            <div class="item item-divider">
              Product Details
            </div>
            <div class="item item-text-wrap">
              Name - {{productInfo.name}}<br> Non Proprietary Name - {{productInfo.nonproprietaryname}}<br> Dosage Form Name
              - {{productInfo.dosageformname}}
            </div>
          </div>
        </div>

        <span class="input-label">Select Receiver</span>
        <div class="item item-input item-select">
          <span class="input-label">
              Receiver Name
          </span>
          <select id="receiverId" name="productid" ng-model="data.receiverid">
              <option ng-repeat="receiver in receivers">{{receiver.name}}</option>
          </select>
        </div>
        <div id="receiverDetails" style="display:none">
          <div class="card">
            <div class="item item-divider">
              Receiver Details
            </div>
            <div class="item item-text-wrap">
              Labeler Code - {{receiverInfo.labelercode}}<br> Multichain Address - {{receiverInfo.multichainaddress}}
            </div>
          </div>

        </div>
        <div style="text-align:center">
          <button id="create-deal" class="button button-medium button-radius button-balanced" ng-click="ManufacturerForm(data)">
          <label>Confirm<label>
        </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
