<ion-view title="Distributor">
  <ion-content overflow-scroll="true" on-scroll="scrollListener()">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="#">Distribution Chain Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a ui-sref="manufacturer">Manufacturer</a></li>
            <li><a ui-sref="shipments">Shipments</a></li>
            <li><a ui-sref="distributor">Distributor</a></li>
            <li><a ui-sref="pharmacy">Pharmacy</a></li>
            <li><a ui-sref="customer">Customer</a></li>
            <li><a ui-sref="recall">Recalls</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="screenadjust" style="text-align:center">

      <h1 style="text-align:center;margin-top: 10px;">Recall Portal</h1>
      <form name="distributorForm" class="form item">
        <select ng-model="data.lot" ng-change="RecallSearch(data)">
            <option ng-repeat="trade in reversedTrades" value="{{trade.lotnumber}}">{{trade.lotnumber}}</option>
          </select>
      </form>

      <div id="verifyResults" style="margin-top:25px;display:none;">

        <div class="card">
          <div class="item item-text-wrap cardFormatting" style="float:left; width:70%">
            <p>Lot Number - {{drugTrade.lotnumber}}</p>
            <p>NDC - {{drugTrade.nationaldrugcode}}</p>
            <p>Product Name - {{drugTrade.productdetails.nonproprietaryname}}</p>
            <p>Product Code - {{drugTrade.productdetails.productcode}}</p>
            <p>Quantity - {{drugTrade.quantity}}</p>
            <div ng-repeat="unit in drugTrade.unitsid"></div>
            <p>Expiration Date - {{drugTrade.drugexpiratior | date:" dd MMM yyyy"}}</p>

            <p>Units in lot:
              <span ng-repeat="unit in drugTrade.unitsid" ng-if="$index<2">{{drugTrade.lotnumber}}-{{unit}} | </span>
              <a id="showMoreText" ng-click="ToggleUnitFlag(1)">Show More</a>
              <span id="showMore" style="display:none">
                        <span ng-repeat="unit in drugTrade.unitsid" ng-if="$index>1">{{drugTrade.lotnumber}}-{{unit}} | </span>
              </span>
              <a id="showLessText" style="display:none" ng-click="ToggleUnitFlag(0)">Show Less</a>
            </p>

          </div>
          <div style="float:right; width:30%">
            <br>
            <svg id="barcode"></svg>
            <div>
              <i class="icon ion-checkmark" ng-if="verificationStatus">&nbspVerified</i>
            </div>
            <br><br>

            <div ng-hide="recallFlag">
              <i class="icon ion-checkmark-circled" ng-if="verificationStatus">&nbspApproved</i>
            </div>
            <div ng-show="recallFlag">
              <i class="icon ion-close-circled" ng-if="verificationStatus">&nbspRecalled</i>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    </form>
    </div>
  </ion-content>
</ion-view>
