<ion-view title="Shipments">
  <ion-content overflow-scroll="true">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="#">Supply Chain Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a ui-sref="manufacturer">Manufacturer</a></li>
            <li><a ui-sref="shipments">Shipments</a></li>
            <li><a ui-sref="distributor">Distributor</a></li>
            <li><a ui-sref="pharmacy">Pharmacy</a></li>
            <li><a ui-sref="customer">Customer</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 style="margin:15px; text-align:center">Shipments</h1>
    <div style="overflow-x:auto; margin:15px;">
      <table>
        <tr style="font-weight:bold">
          <th style="padding: 10px;">Lot Number</th>
          <th style="padding: 10px;">Receipient Name</th>
          <th style="padding: 10px;">Transaction ID</th>
          <!--<th style="padding: 10px;">QR Code</th>-->
        </tr>
        <tr ng-repeat="trade in trades">
          <td style="padding: 10px;">{{trade.lotnumber}}</td>
          <td style="padding: 10px;">{{trade.recipientname}}</td>
          <td style="padding: 10px;">{{trade.drugstradetxid}}</td>
          <!--<td style="padding: 10px;"><qr type-number="8" correction-level="'M'" size="200" input-mode="'ALPHA_NUM'" text="trade.lotnumber" image="true"></qr></td>-->
        </tr>
      </table>
    </div>
  </ion-content>
</ion-view>
